.nav-bar-left-section {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}

a {
  text-decoration: none;
  color: var(--slate);
  list-style: none;
}

.social-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin: 0px auto;
  background-color: var(--slate);
}

.social-list li a{
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.social-list li a:hover{
  color: var(--green);
  transform: scale(1.2);
}

.social-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 30px;
  font-size: 32px;
}


@media (max-width: 800px){
  .nav-bar-left-section {
    display: none;
  }
}