.works-section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.feature-works-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 480px) {
  .works-section {
    max-width: 300px;
  }

  .feature-works-container{
    max-width: 300px;
    margin: 0px auto;
  }
}
